body {
    overflow-x: hidden;
}

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: aqua;
    opacity: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.nav a {
    display: block;

}

